{% extends 'layout/base.html' %}

{% block 'title' %} Inicio 2{% endblock  %}
{% block 'style' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estiloindex.css' %}">
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock  %}

{% block 'header' %}
  {% include 'layout/partials/headerbase.html' %}
{% endblock  %}

{% block 'content' %}

<div class="contain_login">
  <div class="div-login">
    <form class="formlogin"  method="post">
      <h2>Iniciar sesion</h2>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Entrar</button>
    </form>
  </div>
  <div class="img-login">
    <img src="{% static 'img/animales.webp' %}" alt=""> 
  </div>
</div>
{% endblock  %}


{% block 'script' %}{% endblock  %}


