body {
    background-color: beige;
    font-family: sans-serif;
}

header{
    background-color: rgb(185, 222, 241);
    opacity: 0.8;
}

.flex-container{
    /* border: 1px solid black; */
    padding: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* align-content: stretch; */
    height: auto;
    margin: 0 auto;
/* justify-content me sirve para organizar donde estan los elementos en la caja */
/* Flex direction --redirecciona el orden de visualizacion */
    /* flex-direction: row;
    flex-wrap: wrap; */
/* Flex wrap reorganiza en la caja haciendola mas grande */
/* flex flow contiene a direction y wrap */
/* align items para moverlos vertical en el container */
}

.Caja{
    /* border: 1px solid black; */
    color: black;
    font-weight: bold;
    line-height: auto;
    text-align: center;
    margin: 5px;
}

.C1 {
    /* background-color: lightblue; */
    flex-flow: row-reverse nowrap;
    order: 1;
    /* flex-grow: 1; */
    /* Usar como width con porcentaje */
}

.C2{
    flex-flow: row wrap;
    order: 1;
    flex-grow: 2;
    flex-basis: 80%;
    padding: 0 2% 0 2%;
    
}

.btn-darki{
    padding-bottom: 5%;
    background-color: rgba(185, 222, 241);
    opacity: 0.8;
    border: 2px solid rgb(0, 0, 0,0.3);
    border-radius: 10px;
    margin:3px;
    font-weight: bold;
}

.form-group{
font-size: large;
}

.img{
position: absolute;
top: 0;
left:2vw;
opacity: 0.4;
z-index: -1;
width: 98vw;
height: 98vh;
}