{% load static %}
<br><br>
<div class="row">
  <div class="col sm-3">
    <img id="patas" src="{% static 'img/Perro16.webp' %}">
    <div id="empresa" class="btn-group-vertical">
      <h2>Empresa</h2>
      <button type="button" class="btn btn-outline-secondary">Inicio</button>
      <br>
      <button type="button" class="btn btn-outline-secondary">Noticias</button>
    </div>
  </div>
  <div class="col sm-3">
    <div id="recursos" class="btn-group-vertical">
      <h2>Recursos</h2>
      <button type="button" class="btn btn-outline-secondary">Ayuda</button>
      <br>
      <button type="button" class="btn btn-outline-secondary">Soporte</button>
    </div>
  </div>
  <div class="col sm-3">
    <div id="follow" class="btn-group-vertical">
      <h2>Follow Us</h2>
      <button type="button" class="btn btn-outline-secondary">Facebook</button>
      <br>
      <button type="button" class="btn btn-outline-secondary">Intagram</button>
    </div>
  </div>
  <div class="col sm-3">
    <div id="contacto" class="btn-group-vertical">
      <h2>Contacto</h2>
      <button type="button" class="btn btn-outline-secondary">+ 54 3003704921 </button>
      <br>
      <button type="button" class="btn btn-outline-secondary">+ 54 3012453453 </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id="aside1">
      <div class="contenido">
        <h2>¿Que problema solucionamos para tu veterinaria?</h2>
        <br>

        <P>Hay una poca existencia actualmente en relacion a la creciente demanda de una solucion informatica
          que permita cubrir las necesidades de las veterinarias en procesos de registro, agendamiento de
          procedimientos, manejo y control de inventarios e historias medicas que permiten evitar la
          perdida de informacion.</P>
      </div>
      <div class="contenido">
        <h2>Solucion</h2>
        <br>
        <p>Desarrollamos un software para las veterinarias, que les permita crear y modificar el registro de
          sus pacientes y tener un control optimo desde la asignación de citas hasta el seguimiento de sus
          pacientes internos y subprocesos, como manejo de inventario, facturacion, acceso rapido a historal,
          entre otros.</p><br>

      </div>
      <div class="contenido">
        <h2>Objetivo</h2>
        <br>
        <p>Mejorar la calidad de los procesos realizados en las veterinarias en ejercicio de su labor, haciendo
          uso de herramientas informaticas que satisfagan la necesidad vigente.</p>
        <p><img id="imagen2" src="{% static 'img/logo.webp' %}"></p>
      </div>
    </div>
  </div>
  <footer id="foo1">
    <a href="https://api.whatsapp.com/send?phone=573003704921" target="_blank"><img id="wpp"
        src="{% static 'img/iconowhatsaap.webp' %}" width="70px"></a>
  </footer>
</div>