{% load static %}
<header>

      <!-- enlaces -->
      {% if request.user.is_authenticated %}
      <div class="container-fluid p-0" id="opciones">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">File</span>Pets</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                  <a href="{% url 'index' %}" class="nav-item nav-link active">Inicio</a>
                  <a href="{% url 'home' %}"  class="nav-item nav-link" >Agenda</a>
                  <a href="{% url 'logout' %}" class="nav-item nav-link" >Cerrar Sesion</a>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'detailPet'  %}">Mascotas</a>
                      <a class="dropdown-item" href="{% url 'detailClient' %}">Clientes</a>
                      <a class="dropdown-item" href="{% url 'detailEmployee' %}">Colegas</a>
                      <a class="dropdown-item" href="{% url 'registerDate' %}">Citas</a>
                      <a class="dropdown-item" href="#">Clinica</a>
                      <a class="dropdown-item" href="#">Guarderia</a>
                      <a class="dropdown-item" href="#">Peluqueria</a>
                      <a class="dropdown-item" href="{% url 'detailProduct' %}">Inventario</a>
                    </div>
                  </li>
                  <button type="button" class="btn btn-secondary" style="background-color: #ED6436; border: 1px solid #ED6436;" data-toggle="modal" data-target="#exampleModal">
                    Agendar cita
                  </button>
                </div>
            </div>
        </nav>
      {% else %}
      <div class="container-fluid p-0" id="opciones" id="inicio" class="section">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">File</span>Pets</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Inicio</a>
                    <a href="{% url 'index' %}#sobre-nosotros" class="nav-item nav-link" onclick="showSection('sobre-nosotros');">Sobre Nosotros</a>
                    <a href="{% url 'index' %}#servicios" class="nav-item nav-link" onclick="showSection('servicios');">Servicios</a>
                    <a href="{% url 'index' %}#precios" class="nav-item nav-link" onclick="showSection('precios');">Precios</a>
                      <a href="{% url 'registerVet' %}" class="nav-item nav-link">Registro</a>
                      <a href="{% url 'login' %}" class="nav-item nav-link active" style="margin-left: 370px;">INGRESAR</a>
                          </div>
                      </div>
                      
                  </div>  
      {% endif %}
      <!-- enlaces -->
    </nav>
  </header>