{% block 'style' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/navstyle.css' %}">
{% endblock  %}
<header>

      <!-- enlaces -->
      {% if request.user.is_authenticated %}
      <div class="container-fluid p-0" id="opciones">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">File</span>Pets</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                  <a href="{% url 'index' %}" class="nav-item nav-link active">Inicio</a>
                  <a href="{% url 'home' %}"  class="nav-item nav-link" >Agenda</a>
                  <a href="{% url 'logout' %}" class="nav-item nav-link" >Cerrar Sesion</a>
                  <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:47vw;background-color: #ED6436;color: #0c0c0c; margin-right:1vw  ">
                      Servicios
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: 47vw;">
                        <a class="dropdown-item dropdown-item-hover" href="{% url 'detailClient' %}">Clientes</a>
                        <a class="dropdown-item dropdown-item-hover" href="{% url 'detailPet'  %}">Mascotas</a>
                        <a class="dropdown-item dropdown-item-hover" href="{% url 'registerDate' %}">Citas</a>
                          <a class="dropdown-item dropdown-item-hover" href="{% url 'create_sale' %}">Facturación</a>
                        <ul class="nav-item dropdown">
                            <a class="dropdown-item dropdown-item-hover" href="{% url 'list_sale' %}">Lista</a>
                        </ul>
                      <a class="dropdown-item dropdown-item-hover" href=" {% url 'detailClinic' %} ">Clinica</a>
                      <a class="dropdown-item dropdown-item-hover" href="{% url 'detailDaycare' %}">Guarderia</a>
                      <a class="dropdown-item dropdown-item-hover" href="{% url 'detailSalon' %}">Peluqueria</a>
                      <a class="dropdown-item dropdown-item-hover" href="{% url 'detailProduct' %}">Inventario</a>
                      <a class="dropdown-item dropdown-item-hover" href="{% url 'reportSale' %}">Estadisticas</a>
                        <a class="dropdown-item dropdown-item-hover" href="{% url 'detailEmployee' %}">Empleados</a>

                    </div>
                  </li>
                </div>
            </div>
             </nav>
         </div>
      {% else %}
      <div class="container-fluid p-0" id="opciones" id="inicio" class="section">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">File</span>Pets</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{% url 'login' %}" class="nav-item nav-link active" >INGRESAR</a>
                    <a href="{% url 'index' %}" class="nav-item nav-link">Inicio</a>
                    <a href="{% url 'index' %}#sobre-nosotros" class="nav-item nav-link" onclick="showSection('sobre-nosotros');">Sobre Nosotros</a>
                    <a href="{% url 'index' %}#servicios" class="nav-item nav-link" onclick="showSection('servicios');">Servicios</a>
                    <a href="{% url 'index' %}#precios" class="nav-item nav-link" onclick="showSection('precios');">Precios</a>
                      <a href="{% url 'registerVet' %}" class="nav-item nav-link">Registro</a>
                          </div>
                      </div>
                   </nav>
                  </div>  
      {% endif %}
      <!-- enlaces -->
    </nav>
  </header>