{% load static %}
    <div>
        <div><a class="btn btn-dark flex-div" href="#">Facturacion</a></div>
        <div><a class="btn btn-dark flex-div" href="{% url 'detailClient' %}">Clientes</a></div>
        <div><a class="btn btn-dark flex-div" href="{% url 'registerEmployee' %}">Colegas</a></div>
        <div><a class="btn btn-dark flex-div">Atencion Medica</a></div>
        <div><a class="btn btn-dark flex-div">Mi agenda</a></div>
        <div><a class="btn btn-dark flex-div">Guarderia</a></div>
        <div><a class="btn btn-dark flex-div">Hospitalizacion</a></div>
        <div><a class="btn btn-dark flex-div">Sala de belleza</a></div>
        <div><a class="btn btn-dark flex-div">Productos/servicios</a></div>
        <div><a class="btn btn-dark flex-div">Inventario</a></div>
        <div><a class="btn btn-dark flex-div">Informes</a></div>
    </div>