{% load static %}
<section class="n">
    <!--MODIFICACION COLUMNAS-->
    <div class="nn">
        <nav id="lista" class="navbar navbar-expand-sm btn-group-vertical">
            <a class="btn btn-darki" href="#">Facturacion</a>
            <a class="btn btn-darki" href="#">Clientes</a>
            <a class="btn btn-darki" href="#">Colegas</a>
            <a class="btn btn-darki">Atencion Medica</a>
            <a class="btn btn-darki">Mi agenda</a>
            <a class="btn btn-darki">Guarderia</a>
            <a class="btn btn-darki">Hospitalizacion</a>
            <a class="btn btn-darki">Sala de belleza</a>
            <a class="btn btn-darki">Productos/servicios</a>
            <a class="btn btn-darki">Inventario</a>
            <a class="btn btn-darki">Informes</a>
        </nav>
    </div>
    <div class="nnn">
    </div>
</section>