{% load static %}
    <div>
        <div><a class="btn btn-dark flex-div" href="{% url 'detailPet'  %}">Mascotas</a></div> 
        <div><a class="btn btn-dark flex-div" href="{% url 'detailClient' %}">Clientes</a></div>
        <div><a class="btn btn-dark flex-div" href="{% url 'detailEmployee' %}">Colegas</a></div>
        <div><a class="btn btn-dark flex-div" href="{% url 'registerDate' %}">Citas</a></div>
        <div><a class="btn btn-dark flex-div">Clinica</a></div>
        <div><a class="btn btn-dark flex-div">Guarderia</a></div>
        <div><a class="btn btn-dark flex-div">Hospitalizacion</a></div>
        <div><a class="btn btn-dark flex-div">Peluqueria</a></div>
        <div><a class="btn btn-dark flex-div" href="{% url 'detailProduct' %}">Inventario</a></div>
    </div>