{% extends 'layout/base2.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
{% endblock  %}

{% block header %}
{% include 'layout/partials/headerbase.html' %}
{% endblock  %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Factura</h1>
        <div class="form-group">
            <label for="search-input">Buscar producto:</label>
            <input type="text" class="form-control" id="search-input" >
        </div>
        <div class="table-responsive">
            <table class="table" id="cart">
                 <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Stock</th>
                        <th>PVP</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">Subtotal:</th>
                        <td id="subtotal">0.00</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock  %}



