<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Búsqueda de productos</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#search-input').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '/search/',
                        dataType: 'json',
                        data: {
                            term: request.term
                        },
                        success: function(data) {
                            response(data.results);
                        }
                    });
                },
                minLength: 3,
                select: function(event, ui) {
                    $('#product-name').text(ui.item.full_name);
                    $('#product-stock').text(ui.item.stock);
                    $('#product-pvp').text(ui.item.pvp);
                }
            }).autocomplete('instance')._renderItem = function(ul, item) {
                return $('<li>')
                    .append('<div>' + item.full_name + ' - ' + item.stock + ' unidades</div>')
                    .appendTo(ul);
            };
        });
    </script>
</head>
<body>
    <h1>Búsqueda de productos</h1>
    <div>
        <label for="search-input">Buscar producto:</label>
        <input type="text" id="search-input">
    </div>
    <div>
        <h2>Resultado de la búsqueda:</h2>
        <h4>Nombre del producto: <span id="product-name"></span></h4>
        <h4>Cantidad en stock: <span id="product-stock"></span></h4>
        <h4>Precio: <span id="product-pvp"></span></h4>
    </div>
</body>
</html>

