{% extends 'layout/base.html' %}

{% block 'title' %} Mascotas {% endblock %}

{% block 'style' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estiloindex.css' %}">
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}

{% block 'header' %}
{% include 'layout/partials/headerbase.html' %}
{% endblock %}

{% block 'content' %}
{% comment %} Modal {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="examplemodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="examplemodalLabel">Crear mascota</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="">
          <div class="modal-body">
            {% csrf_token %}
            {{form}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="show-examplemodal2">Enviar</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% comment %} Cierre modal {% endcomment %}
<div class="container-fluid" style="background-color: #181818; height: 100vh;">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark text-white">
          <div class="card-body text-center">
            <form action="" method="POST">
              {% csrf_token %}
              <label for="search" class="form-label">BUSCAR MASCOTAS</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="search">
                <button type="submit" class="btn btn-secondary">Buscar</button>
              </div>
            </form>
            <a data-toggle="modal" data-target="#exampleModal" class="btn btn-info mt-3">Crear Mascota</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-dark table-responsive-sm">
            <thead>
              <tr>
                <th>Propietario</th>
                <th>Nombre Mascota</th>
                <th>Especie</th>
                <th>Genero</th>
                <th>Fecha de nacimiento</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for pet in pets %}
              <tr>
                <td>{{pet.client}}</td>
                <td>{{pet.namePet}}</td>
                <td>{{pet.species}}</td>
                <td>{{pet.gender}}</td>
                <td>{{pet.birthdate}}</td>
                <td><a href="{% url 'updatePet' id=pet.id %}" class="btn btn-primary">Actualizar perfil</a></td> 
                <td><button onclick="borrar('{{pet.id}}')" class="btn btn-danger">Eliminar</button></td> 
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block 'script' %}
<script>
    function borrar(id){
        swal({
            title : 'Esta seguro que desea borrar ?',
            text : 'Si lo borras no podras recuperarlo',
            icon : 'warning',
            buttons : true ,
            dangerMode : true ,
        })
        .then ((willDelete)=>{
            if (willDelete){
                location.href = "/eliminar/mascotas/" + id
            }
            else{
                swal ('No se borro el registro')
            }
        });
    }
</script>
{% endblock  %}