{% extends 'layout/base.html' %}

{% block 'title' %} Registro Citas{% endblock %}

{% block 'style' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}

{% block 'header' %}
{% include 'layout/partials/headerbase.html' %}
{% endblock %}

{% block 'content' %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="left-menu">
  <div class="caja1">
    {% include 'layout/partials/leftmenu.html' %}
  </div>
   <div class="caja3">
    <div>
      <h3> Formulario de Citas</h3>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Enviar" class="btn btn-success">
      </form>
    </div>
  </div>
{% endblock %}