{% extends 'layout/base.html' %}

{% block 'title' %} Registro Cliente{% endblock %}
{% block 'style' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilobase.css' %}">
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}

{% block 'header' %}
{% include 'layout/partials/headerbase.html' %}
{% endblock %}

{% block 'content' %}

<h2>Registro de clientes</h2>

<form action="{% url 'pruebaCliente' %}" method="POST">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Enviar" class="btn btn-success">
</form>
{% endblock %}

{% block 'script' %}{% endblock %}