{% extends 'layout/base.html' %}

{% block 'title' %} Registro Clientes{% endblock %}

{% block 'style' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

{% endblock %}

{% block 'header' %}
{% include 'layout/partials/headerbase.html' %}
{% endblock %}

{% block 'content' %}
<div class="container-fluid" style="background-color: #181818;">
<div class="row">
  <div class="col-md-2">
    <div class="left-menu">
      <div class="caja1">
        {% include 'layout/partials/leftmenu.html' %}
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="caja3">
      <div class="container bg-dark">
        <h3> Formulario de Mascotas</h3>
        <form method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Enviar" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}